* text=auto eol=lf

# Sources
*.ts   text diff=ts
*.tsx  text diff=ts
*.js   text diff=js
*.jsx  text diff=js

# Exclude files from exporting

.gitattributes export-ignore
.gitignore export-ignore

*.md linguist-documentation
